<div class="col-xs-12">
  <div class="well text-center"><p style="font-size: 32px;">Sfinalizuj swoje zamówienie</p></div>
  <div class="depot_form">
    <fieldset>
      <%= render 'form', order: @order %>
    </fieldset>
  </div>
  <%= render 'cart_items' %>
</div>

<script>
  $('#kasa').hide();
</script>