<h1><%= "#{ @order.name } - Zamówienie" %></h1>
<h2>Dziękujemy za zakupy w naszym sklepie.</h2>>
<p>Twoje zamówienie:</p>
<table>
  <tr><th colspan="2">Ilość</th><th>Przedmiot</th></tr>
  <%= render @order.line_items -%>
</table>
<p>Po wysłaniu przez nas zamówienia otrzymasz e-mail z
      informacjami o przesyłce.</p>
