/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap-sprockets';
@import 'bootstrap';

body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

#banner {
  position: relative;
  min-height: 70px;
  background: rgba(0,0,0,.1);
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  text-align: center;

  .fa {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 1.7em;
    color: red;
  }
  .logo-text {
    font-family: 'Asap', sans-serif;
    font-size: 1.7em;
    position: absolute;
    left: 60px;
    top: 12px;
    font-weight: bold;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

.row {
  background: #FFF;
  display: flex;
  margin: 0 -15px 0 0;

  #main {
    padding: 1em;
    background: white;
    flex: 1;
  }

  .sidebar {
    padding: 10px;
    background: rgba(0,0,0,.1);

    ul {
      padding: 0;

      li {
        list-style: none;
        margin-left: -10px;

        a {
          font-size: small;
        }
      }
    }
    
    // Shopping cart
    
    input {
      font-size: small;
    }
    
    #cart {
      font-size: smaller;
      display: inline-block;
      background: rgba(190,0,0,.15);
      border-radius: 3px;
      padding: 0 20px 20px 20px;
      margin-bottom: 10px;
      width: 100%;
      
      table {
        border-top: 1px dotted rgb(196,86,0);
        border-bottom: 1px dotted rgb(196,86,0);
        margin-bottom: 10px;
        width: 100%;
      }
      .item_price, .total_line {
        text-align: right;
      }
      
      .total_line .total_cell {
        font-weight: bold;
        border-top: 1px solid red;
      }
      .delete-link .button_to {
        float: right;
      }
      #kasa {
        float: left;
        margin-right: 10px;
      }
    }
  }
}

// ORDER
.depot_form {
  fieldset {
    legend {
    background: rgba(0,0,0,0.1);
    font-family: sans-serif;
    padding: 0.2em 1em;
    }
  }
  form {
    label {
    width: 10em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
    }
    select, textarea, input {
    margin-left: 0.5em;
    min-width: 320px;
    }
    .submit {
    margin-left: 2em;
    }
    br {
    display: none
    }
  }
}

@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}