/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub active_admin
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

body {
  padding-top: 50px;
}

.notshown {
  display: none;
}

.clearlink {
  a {
  color: #fff;
  text-decoration: none;

    &:visited {
      color: #fff;
      text-decoration: none;
    }
  
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.navbar {
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;

  .fa {
    top: 0;
    font-size: 1.3em;
    color: red;
  }
  .logo-text a {
    font-family: 'Asap', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }
  
  #navcart {
    background-color:#b0c7e6;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
  .navbar-toggle .icon-bar {
    background-color: white;
  }
  .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
      background-color: #00c6ff;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #fff;
        .btn {
          color: #000;
        }
      }
      &:hover {
        background-color: rgba(255,255,255,.3);
      }
    }
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

// CART!!!!!!!!!
#cart {
  position: absolute;
  right: -1px;
  background-color: #b0c7e6;
  width: 300px;
  padding: 10px;
  border-radius: 3px 0 3px 3px;
  border: solid 1px;
  border-top: none;
  
  h2{
    margin-top: 5px;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
  
  .fa {
        margin-right: 10px;
      }
      
  table {
    border-top: 1px dotted rgb(196,86,0);
    border-bottom: 1px dotted rgb(196,86,0);
    margin-bottom: 10px;
    width: 100%;
  }
  .item_price, .total_line {
    text-align: right;
  }
  
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid red;
  }
  .delete-link .button_to {
    float: right;
  }
  #kasa {
    float: left;
    margin-right: 10px;
    a:visited {
      color: #fff;
    }
  }
  .btn-danger {
    float: right;
  }  
}
// cart lowres in navbar
@media screen and (max-width: 767px) {
  #cart {
    left: -1px;
    border-radius: 0 0 3px 3px;
    position: fixed;
  }
}

// JUMBOTRON
.welcome-screen {
  background: asset_url('Jumbotron2.jpg') no-repeat center fixed;
  top: 0;
  left: 0;
  height: 100%;
  // min-height: 400px;
  max-height: 689px;
  width: 100%;
  max-width: 1196px;
  // min-width: 500px;
  background-size: 100% 100%;
  border-radius: 0 0 10px 10px;
  margin: 0;
  .jumbotron {
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background:transparent;
    padding: 100px 0 100px 0;
    // min-width: 720px;
    h1 {
      font-size: 7em;
    }
  }
}

@media screen and (max-width: 980px) {
  .welcome-screen {
    // height: 70%;
      .jumbotron {
      padding: 5px 0 5px 0;
    }
  }
}



// SIDEBAR

.row {

  .main {
    padding: 1em;
    background: white;
    flex: 1;
  }

  .sidebar {
    padding: 10px;
    // background: rgba(0,0,0,.1);
    border-radius: 20px;
    margin-top: 14px;
    
    #sidebar-hide {
      display: none;
    }
        
    ul {
      padding: 0;

      li {
        list-style: none;
        margin-left: -10px;
        padding: 5px;
        text-align: center;

        a {
          font-size: 1.4em;
          color: #000;
          display: block;
          &:hover {
            text-decoration: none;
            background-color: transparent;
          }
        }
        &:hover {
          background-color: rgba(0,0,0,0.5) !important;
          a {
          color: #fff;
          }
        }
      }
      li:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
      }
      li:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
      }
    }
    
    // Shopping cart
    
    input {
      font-size: small;
    }
  }
}

// Temporary show/hide on lowres only
@media screen and (max-width: 767px) {
  #sidebar-hide {
    display: block !important;
  }
  .sidebar-content {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .sidebar-content {
    display: block !important;
  }
}

// ORDER
.depot_form {
  fieldset {
    legend {
    background: rgba(0,0,0,0.1);
    font-family: sans-serif;
    padding: 0.2em 1em;
    }
  }
  form {
    label {
    width: 10em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
    }
    select, textarea, input {
    margin-left: 0.5em;
    min-width: 320px;
    }
    .submit {
    margin-left: 2em;
    }
    br {
    display: none
    }
  }
}

// SEARCH BAR LOW RES
.search-products {
  float: right;
}

@media screen and (max-width: 505px) {
  .search-products {
    float: none;
    margin: 10px;
  }
}