// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts, #cart {
  .item_price, .total_line {
    text-align: right;
  }
  
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid red;
  }
  .delete-link a {
    color: red;
    text-decoration: none;
  }
}


// Carts show for delivery method
.delivery {
  tr td, tr th {
    padding: 1px !important;
  }
}