<h2> Sukces! </h2>
<h3> Zamówienie zostało złożone.</h3>
<p>Za chwilę nastąpi przekierowanie na stronę główną.</p>
<script>setTimeout(function(){
          window.location.href="/"
        },3000);
</script>
