<header class="navbar navbar-top">
  <div class="container">
    <div id="banner">
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <span class="logo-text">AK-SMART GSM</span>
      <span class="title"><%= @page_title %></span>
    </div>
  </div>
</header>